# Write a Python program to check if a number is positive, negative, or zero

In [ ]:
number = float(input("Enter a number: "))
if number > 0 :
    print("positive number")
elif number < 0 :
    print("negative number")
else:
    print("number is zero")

Enter a number: 34
positive number

# **Write a Python program to find the largest of three numbers.**

In [ ]:
number1 = float(input("Enter first number:"))
number2 = float(input("Enter second number:"))
number3 = float(input("Enter third number:"))

if (number1 >= number2) and (number1 >= number3):
    largest_number = number1
elif (number2 >= number1) and (number2>=number3):
    largest_number = number2
else:
    largest_number = number3

print(f"The largest number is {largest_number}")

Enter first number:1
Enter second number:4
Enter third number:5
The largest number is 5.0

**Write a Python program to calculate the factorial of a number.**

In [ ]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n* factorial(n-1)
num=int(input("enter a number: "))
print(f"the factorial of {num} is {factorial(num)}")

enter a number: 7
the factorial of 7 is 5040

**Write a Python program to swap the values of two variables.bold text**

In [ ]:
a = 3
b = 6
print(f"before swapping: a = {a}, b = {b}")

a,b = b,a
print(f"After swapping : a = {a} , b = {b}")

before swapping: a = 3, b = 6
After swapping : a = 6 , b = 3

**Write a Python program to convert Celsius to Fahrenheit**

In [ ]:
Celsius = float(input("Enter temperature in Celsius:"))
fahrenheit = (Celsius * 9/5) +32
print(f"{Celsius} Celsius is equal to {fahrenheit}F")

Enter temperature in Celsius:43
43.0 Celsius is equal to 109.4F

**Write a Python program to check if a number is even or odd.**

In [ ]:
num = int(input("Enter a number:"))
if num % 2 ==0:
  print(f"{num} is even.")
else:
  print(f"{num} is odd.")

Enter a number:56
56 is even.

**Write a Python program to find the sum of the first n natural numbers.**

In [ ]:
n =  int(input("Enter a number:"))
sum_n = (n*(n+1))//2
print(f"The sum of first {n} natural numbers is {sum_n}")

Enter a number:10
The sum of first 10 natural numbers is 55

**Write a Python program to check if a year is a leap year.**

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0 ) or (year % 400 ==0):
  print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year.")

Enter a year: 2022
2022 is not a leap year.

**Write a Python program to check if a string is a palindrome.**

In [ ]:
string = input("Enter a string: ")
if string == string[::-1]:
  print(f"{string} is a palindrome. ")
else:
  print(f"{string} is not a palindrome")

Enter a string: asdfdsa
asdfdsa is a palindrome.

**Write a Python program to sort a list of numbers in ascending order.**

In [ ]:
number = [int(x) for x in input("Enter numbers separated by space: ").split()]
number.sort()
print(f"Sorted list :{number}")

Enter numbers separated by space: 5 7 9 6 58 0 88 54
Sorted list :[0, 5, 6, 7, 9, 54, 58, 88]